<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Template - Point Buy</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
  <table>
    <thead>
      <tr>
        <td colspan="4">
          <select class="" name="">
            <option value="">Race</option>
          </select>
        </td>
        <td>27</td>
      </tr>
      <tr>
        <td></td>
        <th>Total</th>
        <th>Race</th>
        <th>Base</th>
        <td></td>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th>Str</th>
        <td>8</td>
        <td>0</td>
        <td>8</td>
        <td><button type="button">+</button> <button type="button">-</button> <button type="button">reset</button></td>
      </tr>
      <tr>
        <th>Con</th>
        <td>8</td>
        <td>0</td>
        <td>8</td>
        <td><button type="button">+</button> <button type="button">-</button> <button type="button">reset</button></td>
      </tr>
      <tr>
        <th>Dex</th>
        <td>8</td>
        <td>0</td>
        <td>8</td>
        <td><button type="button">+</button> <button type="button">-</button> <button type="button">reset</button></td>
      </tr>
      <tr>
        <th>Int</th>
        <td>8</td>
        <td>0</td>
        <td>8</td>
        <td><button type="button">+</button> <button type="button">-</button> <button type="button">reset</button></td>
      </tr>
      <tr>
        <th>Wis</th>
        <td>8</td>
        <td>0</td>
        <td>8</td>
        <td><button type="button">+</button> <button type="button">-</button> <button type="button">reset</button></td>
      </tr>
      <tr>
        <th>Cha</th>
        <td>8</td>
        <td>0</td>
        <td>8</td>
        <td><button type="button">+</button> <button type="button">-</button> <button type="button">reset</button></td>
      </tr>
    </tbody>
  </table>
</body>
</html>
