<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Template - Point Buy</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
  <table>
    <thead>
      <tr>
        <td colspan="4">
          <select id="select-race">
            <option value="" disabled>Race</option>
            <option value="0,2,0,0,1,0">Hill Dwarf</option>
            <option value="2,2,0,0,0,0">Mountain Dwarf</option>
            <option value="0,0,2,1,0,0">High Elf</option>
            <option value="0,0,2,0,1,0">Wood Dwarf</option>
            <option value="0,0,2,0,0,1">Lightfoot Halfling</option>
            <option value="0,1,2,0,0,0">Stout Halfling</option>
            <option value="1,1,1,1,1,1">Human</option>
            <option value="0,0,0,0,0,0" disabled>Variant Human</option>
          </select>
        </td>
        <td>27</td>
      </tr>
      <tr>
        <td></td>
        <th>Total</th>
        <th>Race</th>
        <th>Base</th>
        <td></td>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th>Str</th>
        <td class="total">8</td>
        <td class="mod">0</td>
        <td>8</td>
        <td><button type="button">+</button> <button type="button">-</button> <button type="button">reset</button></td>
      </tr>
      <tr>
        <th>Con</th>
        <td class="total">8</td>
        <td class="mod">0</td>
        <td>8</td>
        <td><button type="button">+</button> <button type="button">-</button> <button type="button">reset</button></td>
      </tr>
      <tr>
        <th>Dex</th>
        <td class="total">8</td>
        <td class="mod">0</td>
        <td>8</td>
        <td><button type="button">+</button> <button type="button">-</button> <button type="button">reset</button></td>
      </tr>
      <tr>
        <th>Int</th>
        <td class="total">8</td>
        <td class="mod">0</td>
        <td>8</td>
        <td><button type="button">+</button> <button type="button">-</button> <button type="button">reset</button></td>
      </tr>
      <tr>
        <th>Wis</th>
        <td class="total">8</td>
        <td class="mod">0</td>
        <td>8</td>
        <td><button type="button">+</button> <button type="button">-</button> <button type="button">reset</button></td>
      </tr>
      <tr>
        <th>Cha</th>
        <td class="total">8</td>
        <td class="mod">0</td>
        <td>8</td>
        <td><button type="button">+</button> <button type="button">-</button> <button type="button">reset</button></td>
      </tr>
    </tbody>
  </table>
  <script src="../vanillajs/app.js"></script>
</body>
</html>
