<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Template - Point Buy</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <style>
    body, html { padding: 0; margin: 0; font-family: Times, "Time New Roman", Georgia, serif; }
    tbody > tr:nth-of-type(odd) { background-color: #eee; }
    tbody th { text-align: right; }
    td, th { padding: .625em; }
    td, thead th { text-align: center; }
    select { width: 59%; }
    .text-left { text-align: left; }
    .text-right { text-align: right; }
  </style>
  <!-- <script src="https://cdn.jsdelivr.net/npm/vue"></script> -->
  <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
</head>
<body>

  <div id="app">
    <table>
      <thead>
        <tr>
          <td colspan="5" class="text-left">
            <select v-model="selectedRace">
              <option v-for="race in races" :value="race.value">{{race.text}}</option>
            </select>
          </td>
        </tr>
        <tr>
          <th>Score</th>
          <th>Total</th>
          <th>Race</th>
          <th>Base</th>
          <td id="remaining-points" class="text-right">Points: {{ currentPoints }}</td>
        </tr>
      </thead>
      <tbody>
        <tr>
          <th>Str</th>
          <td>{{ str.base + selectedRace[0] }}</td>
          <td>{{ selectedRace[0] }}</td>
          <td>{{ str.base }}</td>
          <td>
            <v-button v-on:click="add('str')">+</v-button>
            <v-button v-on:click="subtract('str')">-</v-button>
            <v-button v-on:click="reset('str')">reset</v-button>
          </td>
        </tr>
        <tr>
          <th>Con</th>
          <td>{{ con.base + selectedRace[1] }}</td>
          <td>{{ selectedRace[1] }}</td>
          <td>{{ con.base }}</td>
          <td>
            <v-button v-on:click="add('con')">+</v-button>
            <v-button v-on:click="subtract('con')">-</v-button>
            <v-button v-on:click="reset('con')">reset</v-button>
          </td>
        </tr>
        <tr>
          <th>Dex</th>
          <td>{{ dex.base + selectedRace[2] }}</td>
          <td>{{ selectedRace[2] }}</td>
          <td>{{ dex.base }}</td>
          <td>
            <v-button v-on:click="add('dex')">+</v-button>
            <v-button v-on:click="subtract('dex')">-</v-button>
            <v-button v-on:click="reset('dex')">reset</v-button>
          </td>
        </tr>
        <tr>
          <th>Int</th>
          <td>{{ int.base + selectedRace[3] }}</td>
          <td>{{ selectedRace[3] }}</td>
          <td>{{ int.base }}</td>
          <td>
            <v-button v-on:click="add('int')">+</v-button>
            <v-button v-on:click="subtract('int')">-</v-button>
            <v-button v-on:click="reset('int')">reset</v-button></td>
        </tr>
        <tr>
          <th>Wis</th>
          <td>{{ wis.base + selectedRace[4] }}</td>
          <td>{{ selectedRace[4] }}</td>
          <td>{{ wis.base }}</td>
          <td>
            <v-button v-on:click="add('wis')">+</v-button>
            <v-button v-on:click="subtract('wis')">-</v-button>
            <v-button v-on:click="reset('wis')">reset</v-button>
          </td>
        </tr>
        <tr>
          <th>Cha</th>
          <td>{{ cha.base + selectedRace[5] }}</td>
          <td>{{ selectedRace[5] }}</td>
          <td>{{ cha.base }}</td>
          <td>
            <v-button v-on:click="add('cha')">+</v-button>
            <v-button v-on:click="subtract('cha')">-</v-button>
            <v-button v-on:click="reset('cha')">reset</v-button></td>
        </tr>
      </tbody>
    </table>
  </div>

  <script src="app.js"></script>
</body>
</html>
